extends ../layout/index.pug

block title
  title Projects
block content
    section(class="wp-2")
      form(action=service && '/admin/services/update' || '/admin/services/crear',
           method='post',
           enctype="multipart/form-data")
        if service
          input(type="hidden", value=service.id, name="id")
        div(class="row wm-0-imp")
          div(class="input-field col s12 wm-0")
            input(name="name", placeholder="Name", type="text", value=service && service.name)
          div(class="input-field col s12 wm-0")
            textarea(name="description", placeholder="Description", class="materialize-textarea")
              if service && service.description
                |#{service.description}
          div(class="input-field col s12 wm-0")
            input(name="order", placeholder="Order", type="number" value=service && service.order)
          div(class="input-field  col s12 wm-0")
            p
              input(type="checkbox", name="active", id="active", class="filled-in"
                    checked=service && service.active == 'on')
              label(for="active") Active
          div(class="file-field input-field col s12 wm-0 wm-t-imp-30")
            div(class="btn")
              span Image
              input(type="file", name="image")
            div(class="file-path-wrapper")
              input(class="file-path validate", type="text", placeholder="Upload image")
          
          if service && service.image
            div(class="col s12 mt-t-30") Current image |
              a(href='/' + service.image, target="_blank")| image #{service.image}
            
          
          div(class="col s12 wm-t-30 right-align")
            button(class="btn waves-effect waves-light", type="submit", name="action") Send
          
          if success == true
            div(class="col s12  center-align wm-t-imp-20")
              p(class="green white-text center br-5 wp-1")| Register save with success
              
          if success == false
            div(class="col s12  center-align wm-t-imp-20")
              p(class="red white-text center br-5 wp-1")| The following errors were generated 
              if errors
                each val in errors
                  p| The field is required #{val.field}
              if message
                p|#{message}
                
