aside(class="admin-aside left absolute primary-color wm-t-55")
  ul(class="collection with-header wm-0")
    li(class="collection-header")
      h6 Profile
    li(class="collection-item", class=menu_profile_list ? 'active' : '')
      a(href="/admin/profile", class="block pointer", 
        class=menu_profile_list ? 'white-text' : '')
        |Listar
    li(class="collection-item", class=menu_profile_create ? 'active' : '')
      a(class="block pointer", 
        class=menu_profile_create ? 'white-text' : '',
        href="/admin/profile/create") Crear
      
  ul(class="collection with-header wm-0")
    li(class="collection-header")
      h6 Proyectos
    li(class="collection-item", class=menu_proyects_list ? 'active' : '')
      a(class="block pointer", class=menu_proyects_list ? 'white-text': '',
        href="/admin/proyectos") Listar
    li(class="collection-item", class=menu_proyects_create ? 'active': '')
      a(class="block pointer", class=menu_proyects_create ? 'white-text': '',
        href="/admin/proyectos/crear") Crear
  ul(class="collection with-header wm-0")
    li(class="collection-header")
      h6 Servicios
    li(class="collection-item", class=menu_services_list ? 'active' : '')
      a(class="block pointer", class=menu_services_list ? 'white-text': '',
        href="/admin/services") Listar
    li(class="collection-item", class=menu_services_create ? 'active': '')
      a(class="block pointer", class=menu_services_create ? 'white-text': '', 
        href="/admin/services/crear")|Crear
