aside(class="admin-aside left absolute primary-color wm-t-55")
  ul(class="collection with-header wm-0")
    li(class="collection-header")
      h6 About
    li(class="collection-item")
      a(class="block pointer" href="") Listar
    li(class="collection-item")
      a(class="block pointer" href="") Crear
  ul(class="collection with-header wm-0")
    li(class="collection-header")
      h6 Proyectos
    li(class="collection-item", class=menu_proyects_list ? 'active' : '')
      a(class="block pointer", class=menu_proyects_list ? 'white-text': '',
        href="/admin/proyectos") Listar
    li(class="collection-item", class=menu_proyects_create ? 'active': '')
      a(class="block pointer", class=menu_proyects_create ? 'white-text': '',
        href="/admin/proyectos/crear") Crear
  ul(class="collection with-header wm-0")
    li(class="collection-header")
      h6 Servicios
    li(class="collection-item")
      a(class="block pointer" href="") Listar
    li(class="collection-item")
      a(class="block pointer" href="") Crear
