extends ../layout/index.pug

block title
  title Projects
block content
  section(class="clearfix admin-content-section left")
    h4(class="center-align wm-t-20")
      if project
        | Update proyect
      else
        | New proyect

    section(class="wp-2")
      form(action=project && '/admin/proyectos/update' || '/admin/proyectos/crear',
           method='post',
           enctype="multipart/form-data")
        if project
          input(type="hidden", value=project.id, name="id")
        div(class="row wm-0-imp")
          div(class="input-field col s12 wm-0")
            input(name="name", placeholder="Name", type="text", value=project && project.name)
          div(class="input-field col s12 wm-0")
            textarea(name="description", placeholder="Description", class="materialize-textarea")
              if project && project.description
                |#{project.description}
          div(class="input-field col s12 wm-0")
            input(name="order", placeholder="Order", type="number" value=project && project.order)
          div(class="input-field  col s12 wm-0")
            p
              input(type="checkbox", name="active", id="active", class="filled-in"
                    checked=project && project.active == 'on')
              label(for="active") Active
          div(class="file-field input-field col s12 wm-0 wm-t-imp-30")
            div(class="btn")
              span Image
              input(type="file", name="image")
            div(class="file-path-wrapper")
              input(class="file-path validate", type="text", placeholder="Upload image")
          
          if project && project.image
            div(class="col s12 mt-t-30") Current image |
              a(href='/' + project.image, target="_blank")| image #{project.image}
            
          
          div(class="col s12 wm-t-30 right-align")
            button(class="btn waves-effect waves-light", type="submit", name="action") Send
          
          if success == true
            div(class="col s12  center-align wm-t-imp-20")
              p(class="green white-text center br-5 wp-1")| Register save with success
              
          if success == false
            div(class="col s12  center-align wm-t-imp-20")
              p(class="red white-text center br-5 wp-1")| The following errors were generated 
              if errors
                each val in errors
                  p| The field is required #{val.field}
              if message
                p|#{message}
                
